# Overview

The anypoint maven plugin is primarily designed to provide support for supporting [automated API management](../api-management-automation.html) when deploying an 
application, but also includes a few extra capabilities in addition to that those.

# Full usage and technical documentation

For the full usage and technical documentation, See [Plugin Documentation](plugin-info.html)

# Deploying applications from source with automated API management setup

The most common usage for the anypoint tools is to deploy an application, [automatically configuring Anypoint API Manager](../api-management-automation.html)
in the process.

In order to do so, you will need to the following to your plugin, and include an anypoint.json or anypoint.yml file in
the root folder of your project

```xml
<project>
    <build>
        <resources>
			<resource>
				<directory>${project.basedir}</directory>
				<includes>
					<include>anypoint.json</include>
					<include>anypoint.yml</include>
					<include>anypoint.yaml</include>
				</includes>
			</resource>
		</resources>
        <plugins>
            <plugin>
                <groupId>com.aeontronix.anypoint-tools</groupId>
                <version>${project.version}</version>
                <artifactId>anypoint-maven-plugin</artifactId>
                <executions>
                    <execution>
                        <id>deploy</id>
                        <phase>deploy</phase>
                        <goals>
                            <goal>deploy</goal>
                        </goals>
                        <configuration>
                            <username>[anypointusername]</username>
                            <password>[anypointpassword]</password>
                            <org>[orgname]</org>
                            <env>[envname]</env>
                        </configuration>
                    </execution>
                </executions>
            </plugin>
            ...
        </plugins>
    <build>
</project>
```

With this you will be able to run `mvn deploy`, and it will deploy your application to Cloudhub.

If you wanted to deploy to an on-prem server, you just need to specify the target configuration. ie:

```xml
<configuration>
    <username>[anypointusername]</username>
    <password>[anypointpassword]</password>
    <org>[orgname]</org>
    <env>[envname]</env>
    <target>[target server or server group]</target>
</configuration>
```

In the configuration you also will be able to setup [variables](../api-management-automation.html#variables) to customize the anypoint provisioning automation.

```xml
<configuration>
    <username>[anypointusername]</username>
    <password>[anypointpassword]</password>
    <org>[orgname]</org>
    <env>[envname]</env>
    <target>[target server or server group]</target>
</configuration>
```
